<div class="jumbotron">
  {{!-- <img src="/images/404Error.jpeg"> --}}
   <h1>404 page not found</h1>
  {{!-- <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>  --}}
</div>