<div class="bs-docs-section">
    <h2>DASHBOARD</h2>
    {{!-- dashboard header count --}}
    <div class="col-lg-12">
        <div class="col-lg-3">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-success">                   
                    <strong>total user</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-success">                  
                    <strong>total subscriber</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-success">                   
                    <strong>total visitors</strong>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="bs-component">
                <div class="alert alert-dismissible alert-success">                 
                    <strong>total category</strong>
                </div>
            </div>
        </div>
    </div>

    {{!-- dashboard user graph --}}
    <div class="col-lg-12"></div>

    {{!-- dashboard user blocks --}}
    <div class="col-lg-12">
        {{!-- blog info --}}
        <div class="col-lg-4">
        </div>

        {{!-- category info --}}
        <div class="col-lg-4">
        </div>

        {{!-- userinfo info --}}
        <div class="col-lg-4">
        </div>
    </div>

    {{!-- dashboard user table --}}
    <div class="col-lg-12"></div>
</div>